.how-it-works {
    color: white;
    padding: 3rem;
    
}
.how-it-works h2 {
    font-family: Playfair Display, serif;
    font-size: 24px;
    font-weight: 800;
    color: #F97316;
}
.steps {
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.step {
    
    width: 250px;
    padding: 2rem;
    border-radius: 4px;
    background-color: #ffedd5;
    
}
