.how-it-works {
    color: white;
    padding: 3rem;
    
}
.how-it-works h2 {
    font-family: Playfair Display, serif;
    font-size: 24px;
    font-weight: 800;
    color: #F97316;
}
.steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}
.steps img {
    object-fit: cover;
}