.why-choose-us {
    padding: 3rem;

}
.why-choose-us h2 {
    font-family: Playfair Display, serif;
    font-size: 24px;
    font-weight: 800;
    color: #F97316;
}
@media (max-width: 768px) {
    .container h2 {
        text-align: center;
    }
}