.admin-dashboard {
  display: flex;
  height: 100vh; /* FULL SCREEN */
  font-family: "Inter", sans-serif;
  background-color: #f6f8fb;
}

/* ================= LEFT PANEL ================= */

.left-panel {
  width: 260px;
  background-color: #ffffff;
  border-right: 1px solid #e6e9ef;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: sticky;
  top: 0;
  height: 100vh;
}


/* ---------- LOGO AREA ---------- */

.left-panel .top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  border-bottom: 1px solid #f1f1f1;
}

.left-panel .top img {
  object-fit: contain;
}

/* ---------- NAVIGATION ---------- */

.left-panel ul {
  list-style: none;
 
  margin: 0;
  width: 200px;
}

.left-panel ul li {
  margin-bottom: 0.6rem;
  border-radius: 4px;
}

.left-panel ul li a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: #374151;
  font-size: 15px;
  font-weight: 500;
  border-radius: 4px;
}

/* hover */
.left-panel ul li:hover {
  background-color: #111827;
  width: 200px;
}

.left-panel ul li:hover a {
  color: #ffffff;
}

/* ---------- LOGOUT ---------- */

.logout {
  padding: 1.5rem;
  border-top: 1px solid #f1f1f1;
}

.logout button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: black;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}
.left-panel a.active {
  background-color: #111827;
  color: white;
}

.logout button:hover {
  background-color: #ec1010;
}

/* ================= RIGHT PANEL ================= */

.right-panel {
  flex: 1;
  padding: 2rem;
  min-height: 100vh;
  
}

.top h3 {
  margin-top: 8px;
  font-size: 18px;
  font-weight: 600;
}
.top {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-direction: column;
}
.top h3 {
    font-family: Playfair Display, serif;
    color: black;
}