form input {
    padding: 0.6rem 0.75rem;
    border: 1px solid #e6eef8;
    border-radius: 4px;
    font-size: 14px;
    margin: 0.5rem 1rem;
    
}

form select {
    background-color: #F97316;
    border-radius: 4px;
    padding: 0.6rem 0.75rem;
    border: none;
    color: white;
    font-size: 14px;
    margin: 0.5rem 0;
}
form select option {
    padding: 0.6rem 0.75rem;
    border: 1px solid #e6eef8;
    border-radius: 4px;
    font-size: 14px;
}
form button {
    padding: 0.6rem 0.9rem;
    background: #F97316;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 1rem;
}
form button:hover {
    filter: brightness(0.95);
  border: none;
  background-color: #F97316;
  color: white;
}
