table {
    background-color: white;
    width: 100%;
    border-radius: 8px;
    padding: 1rem;
}
tr {
   text-align: start;
}
th {
    background-color: black;
    text-align: start;
    color: white;
}