.notification img {
    width: 20px;
    height: 20px;
    
}
.notification {
    display: flex;
    align-items: center;
    gap: 4px;

}
.notification span {
    font-size: 14px;
    font-weight: 800;
    color: red;
}
.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid whitesmoke;
    border-radius: 4px;
    padding: 1rem;
}
h3 {
    color: white;
}
.boxes {
   
    height: 120px;
    width: 200px;
    padding: 1rem;
    border-radius: 4px;
    background-color: rgb(89, 148, 201);
    
}
.boxes:nth-child(2){
    background-color: rgba(212, 171, 171, 0.671);
    
}
.boxes:nth-child(3){
    background-color: rgba(165, 212, 89, 0.671);
    
}
.boxes:nth-child(4){
    background-color: rgba(221, 122, 92, 0.671);
    
}
.box-wrapper {
    margin: 3rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.box-wrapper img {
    height: 60px;
    width: 60px;
    object-fit: cover;
}
.top-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}